__pycache__/
*.log
.env
data/raw/*
!data/raw/.gitkeep
data/expanded-queries/one-shot/*
!data/expanded-queries/one-shot/.gitkeep
data/expanded-queries/zero-shot/*
!data/expanded-queries/zero-shot/.gitkeep
data/expanded-queries/multi-shot/*
!data/expanded-queries/multi-shot/.gitkeep
data/expanded-queries/answer/*
!data/expanded-queries/answer/.gitkeep
data/expanded-queries/chain-of-thought/*
!data/expanded-queries/chain-of-thought/.gitkeep
data/expanded-queries/chain-of-thought-prf/*
!data/expanded-queries/chain-of-thought-prf/.gitkeep
data/expanded-queries/q2d-zs/*
!data/expanded-queries/q2d-zs/.gitkeep
data/expanded-queries/q2d-zs-prf/*
!data/expanded-queries/q2d-zs-prf/.gitkeep
data/expanded-queries/q2e-zs/*
!data/expanded-queries/q2e-zs/.gitkeep
data/expanded-queries/q2e-zs-prf/*
!data/expanded-queries/q2e-zs-prf/.gitkeep

log/*
!log/.gitkeep

.idea/
venv/
