__pycache__/
*.log
.env
data/raw/*
!data/raw/.gitkeep
data/expanded-queries/answer/*
!data/expanded-queries/answer/.gitkeep
data/expanded-queries/answer-prf/*
!data/expanded-queries/answer-prf/.gitkeep
data/expanded-queries/keywords/*
!data/expanded-queries/keywords/.gitkeep
data/expanded-queries/keywords-prf/*
!data/expanded-queries/keywords-prf/.gitkeep
data/expanded-queries/chain-of-thought/*
!data/expanded-queries/chain-of-thought/.gitkeep
data/expanded-queries/chain-of-thought-prf/*
!data/expanded-queries/chain-of-thought-prf/.gitkeep
data/expanded-queries/chain-of-thought-short/*
!data/expanded-queries/chain-of-thought-short/.gitkeep
data/expanded-queries/chain-of-thought-fr/*
!data/expanded-queries/chain-of-thought-fr/.gitkeep
data/expanded-queries/chain-of-thought-es/*
!data/expanded-queries/chain-of-thought-es/.gitkeep
data/expanded-queries/chain-of-thought-de/*
!data/expanded-queries/chain-of-thought-de/.gitkeep
data/expanded-queries/chain-of-thought-zh/*
!data/expanded-queries/chain-of-thought-zh/.gitkeep


.idea/
venv/
